<a href="https://colab.research.google.com/github/Abigail-Ashley-Cayco/58013_Linear_Algebra/blob/main/Review_of_Python_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#PythonIndentation
if 5>2:
  print("Five is greater than two!")

Five is greater than two!

In [9]:
#This is a comment
print("Hello, World")

Hello, World

In [12]:
#Python Variable
x=1
a, b=0,-1
a, b, c=0,-1,2

In [14]:
#Casting
b ="Sally" #This is a type of string
b=int(4)
print(b)

b=float(4)
print(b)

4
4.0

In [15]:
#Type() Function
x=5
y="John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [16]:
#"Double" or 'Single' quotes
y="John"
y='John'

In [17]:
#Case Sensitive
a=4
A="Sally"
#A will not overwrite a

In [18]:
#Multiple Variables
x, y, z= "One", "Two", "Three"
print(x)
print(y)
print(z)

One
Two
Three

In [19]:
#One Value to Multiple Variables
x=y=z="four"
print(x)
print(y)
print(z)

four
four
four

In [25]:
#Output Variables
x="enjoying"
print("Python program is " + x)

Python program is enjoying

In [27]:
#other way of output variables
x="Python is "
y="enjoying"
z= x + y
print(z)

Python is enjoying

In [29]:
#Arithmetic Operations
x=5
y=3
print (x+y)

x=5
y=3
sum=x+y
sum

8

8

In [30]:
#assignment operators
a,b,c=0,-1,6
c%=3
c

0

In [31]:
#Comparison Operators
a,b,c=0,-1,6
a>b and c>b

True

In [32]:
#Logical Operators
a,b,c=0,-1,6
a>b and c>b

True

In [33]:
#identity Operators
a,b,c=0,-1,5
a is c

False

In [38]:
#Bitwise Operators
a,b,c =0,-1,5
c>>1

2